@page
@model IndexModel
@{
    ViewData["Title"] = "";
}


<div class="container-fluid text-left ">
    <div class="row">
        <div class="col-6">
            <h1 class="display-4 mt-5 mb-5">Let's Explore Israel! </h1>
            <p class="lh-lg">
                Point to Point is a fun memory card game with a twist!
                In this game, you’ll explore famous landmarks in Israel.
                When you click on the buttons, you’ll see pictures and names of the landmarks.
                If you find a matching pair, a message pops up with a fact or feature about that place.
            </p>
        </div>
        <div class="container my-4">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-left mb-4">Places You'll Visit:</h2>
                    <div class="places-container">
                        <div class="row mb-3">
                            <div class="col-4">
                                <img src="/images/p1p.jpg" alt="Place 1" class="img-fluid rounded-2 mb-3">
                            </div>
                            <div class="col-4">
                                <img src="/images/p2p.jpg" alt="Place 2" class="img-fluid rounded-2 mb-3">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <img src="/images/p3p.jpg" alt="Place 3" class="img-fluid rounded-2 mb-3">
                            </div>
                            <div class="col-4">
                                <img src="/images/p4p.jpg" alt="Place 4" class="img-fluid rounded-2 mb-3">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <img src="/images/p5p.jpg" alt="Place 5" class="img-fluid rounded-2 mb-3">
                            </div>
                            <div class="col-4">
                                <img src="/images/p6p.jpg" alt="Place 6" class="img-fluid rounded-2 mb-3">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <img src="/images/p7p.jpg" alt="Place 7" class="img-fluid rounded-2 mb-3">
                            </div>
                            <div class="col-4">
                                <img src="/images/p8p.jpg" alt="Place 8" class="img-fluid rounded-2 mb-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="images/mapofisraelwithdestinations.jpg" class="responsive-image">
                </div>
            </div>
        </div>
</div>
</div>
