@page
@model PointToPointWeb.Pages.Play_Model
@{
}

<div class="container-fluid text-center">
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <div id="msg" class="alert alert-success mb-3">
                        <h3 id="msgText"></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="col card imagebutton color" id="imgcrd1"></button>
                <button class="col card imagebutton color" id="imgcrd2"></button>
                <button class="col card imagebutton color" id="imgcrd3"></button>
                <button class="col card imagebutton color" id="imgcrd4"></button>
            </div>
            <div class="row">
                <button class="col card imagebutton color" id="imgcrd5"></button>
                <button class="col card imagebutton color" id="imgcrd6"></button>
                <button class="col card imagebutton color" id="imgcrd7"></button>
                <button class="col card imagebutton color" id="imgcrd8"></button>
            </div>
            <div class="row">
                <button class="col card namebutton color" id="namecrd1"></button>
                <button class="col card namebutton color" id="namecrd2"></button>
                <button class="col card namebutton color" id="namecrd3"></button>
                <button class="col card namebutton color" id="namecrd4"></button>
            </div>
            <div class="row">
                <button class="col card namebutton color" id="namecrd5"></button>
                <button class="col card namebutton color" id="namecrd6"></button>
                <button class="col card namebutton color" id="namecrd7"></button>
                <button class="col card namebutton color" id="namecrd8"></button>
            </div>
        </div>
        <div class="col-2">
            <div class="d-flex flex-column align-items-center">
                <button id="btn-reset" class="btn btn-primary btn-lg w-100 mb-2">Start!</button>
                <button id="btn-newturn" disabled class="btn btn-warning btn-lg inactive-button w-100">New Turn!</button>
            </div>
        </div>
    </div>
</div>

<script>
    let imgcard = { name: "imagecard", value: 0 };
    let nmecard = { name: "namecard", value: 0 };
    let currentcard = null;
    let matchedset = false;
    let numberofsetsmatched = 0;
    let imgcardflipped = false;
    let nmecardflipped = false;
    const newTurnButton = document.querySelector("#btn-newturn");
    const picimglist = [];
    const picnmelist = [];
    const allcardlist = [...document.querySelectorAll(".card")];

    const extractNumberFromUrl = url => parseInt((url.match(/\d+/) || [])[0], 10);

    function toggleButton(buttonId, activate) {
        const button = document.querySelector(`#${buttonId}`);
        button.classList.toggle("inactive-button", !activate);
        button.disabled = !activate;
    }

    function fillPicArray() {
        picimglist.length = 0;
        picnmelist.length = 0;
        for (let i = 1; i <= 8; i++) {
            picimglist.push(`/images/p${i}p.jpg`);
            picnmelist.push(`/images/n${i}n.jpg`);
        }
    }

    function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
    }


    function assignImagesToButtons(imageList, buttonSelector) {
        const buttons = [...document.querySelectorAll(buttonSelector)];
        shuffleArray(imageList);
        buttons.forEach((button, index) => {
            const imageUrl = imageList[index];
            const img = document.createElement('img');
            img.src = imageUrl;
            button.appendChild(img);
            button.dataset.cardValue = extractNumberFromUrl(imageUrl);
            button.addEventListener('click', handleClick)
            console.log(`Assigned image to button ${index}: ${imageUrl}`);
        });
    }

    function startGame() {
        resetValues();
        numberofsetsmatched = 0;
        allcardlist.forEach(c => {
            c.classList.remove("show-img", "endgame");
            c.classList.add("color");
            c.disabled = false;
        });
        msgnum.value = 9;
        fillPicArray();
        assignImagesToButtons(picimglist, '.imagebutton');
        assignImagesToButtons(picnmelist, '.namebutton');
        newTurnButton.classList.remove("inactive-button");
        newTurnButton.textContent = "New Turn!";
        newTurnButton.classList.replace("btn-info", "btn-warning");
    }

    function resetValues() {
        imgcard.value = 0;
        nmecard.value = 0;
        currentcard = null;
        matchedset = false;
        imgcardflipped = false;
        nmecardflipped = false;
    }

    function handleClick(e) {
        const target = e.currentTarget;
        currentcard = target.classList.contains("imagebutton") ? imgcard : nmecard;

        if (currentcard === imgcard && !imgcardflipped) {
            imgcard.value = target.dataset.cardValue;
            imgcardflipped = true;
            target.classList.add("show-img");
        }
        else if (currentcard === nmecard && !nmecardflipped) {
            nmecard.value = target.dataset.cardValue;
            nmecardflipped = true;
            target.classList.add("show-img");
        }


        if (imgcardflipped && nmecardflipped) {
            detectMatch();
            newTurnButton.disabled = false;
        }
        else {
            msgnum.value = currentcard === imgcard ? 10 : 11;
        }
    }

    function detectMatch() {
        if (imgcard.value == nmecard.value) {
            numberofsetsmatched++;
            matchedset = true;
            msgnum.value = imgcard.value;
        }
        else {
            matchedset = false;
            msgnum.value = 12;
        }
        toggleButton("btn-newturn", true)

        if (numberofsetsmatched === 8) {
            newTurnButton.textContent = "End Game!";
            newTurnButton.classList.replace("btn-warning", "btn-info")
        }
    }

    function endGame() {
        msgnum.value = 14
        toggleButton("btn-newturn", false);

        allcardlist.forEach(card => (card.classList.add("endgame")));
    }

    function newTurn() {
        msgnum.value = 13;
        if (matchedset) {
            document.querySelectorAll("button.show-img").forEach(button => {
                button.disabled = true;
                button.classList.remove("color", "show-img");
            });
            if (numberofsetsmatched === 8) {
                endGame();
            }
        }
        else {
            allcardlist.forEach(card => (card.classList.remove("show-img")));
        }
        resetValues();
        toggleButton("btn-newturn", false)
    }

    let msgnum = {
        _value: 0,
        get value() {
            return this._value;
        },
        set value(newValue) {
            this._value = newValue;
            updateMessage();
        }
    };


    function updateMessage() {
        const msg = [
            "Let's Explore Eretz Yisrael! <br/> Click START to begin the game.",
            "The Ari Hakadosh is buried in Tzfas.",
            "The Churva is a shul in Yerushalayim.",
            "Kever Rochel is in Beis Lechem.",
            "The Kosel is in Yerushalayim.",
            "Mearas Hamachpela is in Chevron.",
            "The kever of Rabbi Meir Bal Haness is in Tiverya.",
            "The kever of Rabi Shimon Bar Yochai is in Meron.",
            "The salt in Yam Hamelech makes everything float in the water.",
            "Click a Button!",
            "Can you find the name of this destination?",
            "Can you find the picture of this destination?",
            "Oops!  Click NEW TURN for another chance.",
            "Where will we travel next?",
            "Congratulations!  You've matched all the pictures!"
        ];
        document.querySelector("#msgText").innerHTML = msg[msgnum.value];
    }

    document.querySelector("#btn-reset").addEventListener("click", startGame)
    document.querySelector("#btn-newturn").addEventListener("click", newTurn)

    updateMessage();

</script>